In [9]:
import pandas as pd
import numpy as np

data = pd.read_csv( 'heart.csv',header='infer' )
data.columns = ['age','sex','cp','bp','cholesterol','blood sugar','ecg','heart rate','angina',
               'oldpeak','slope','major vessels','thal','heart attack']
data

,age,sex,cp,bp,cholesterol,blood sugar,ecg,heart rate,angina,oldpeak,slope,major vessels,thal,heart attack
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [10]:
y = data['heart attack']
X = data.drop(columns=['heart attack'])

# Standardize the X values

import math
import numpy as np

def myMean(vec):
    col_means = np.zeros(vec.shape[1])
    for col_number in range (vec.shape[1]):
        col_means[col_number] = sum(vec[:,col_number])/len(vec[:,col_number])
    
    return col_means
def myStdDev(vec):
    avg = myMean(vec)
    col_stdevs = np.zeros(vec.shape[1])
    for col_number in range (vec.shape[1]):
        sum_of_square = sum((vec[i,col_number] - avg[col_number])**2 for i in range(vec.shape[0]))
        col_stdevs[col_number] = math.sqrt(sum_of_square/(len(vec[:,col_number])-1))
    return col_stdevs
def calc_Mean_Stdev(arr):
    mean_values = np.zeros( arr.shape[1] )
    stdDev_values = np.zeros( arr.shape[1] )

    mean_values = myMean(arr) 
    stdDev_values = myStdDev(arr)
    
    return(mean_values, stdDev_values)

def standardize(arr):
    avg = myMean(arr)
    stdev = myStdDev(arr)
    standardized_array = arr 
    for col_number in range (arr.shape[1]):
        for i in range(arr.shape[0]):
            standardized_array[i,col_number] = (arr[i,col_number] - avg[col_number])/stdev[col_number]
    return standardized_array

X = standardize(X.values)


print('After standardization:')
pd.DataFrame(X).head()

After standardization:

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.950624,0.679881,1.969864,0.762694,-0.255910,2.390484,-1.004171,0.015417,-0.69548,1.085542,-2.270822,-0.713249,-2.145324
1,-1.912150,0.679881,1.000921,-0.092585,0.072080,-0.416945,0.897478,1.630774,-0.69548,2.119067,-2.270822,-0.713249,-0.512075
2,-1.471723,-1.465992,0.031978,-0.092585,-0.815424,-0.416945,-1.004171,0.975900,-0.69548,0.310399,0.974740,-0.713249,-0.512075
3,0.179877,0.679881,0.031978,-0.662770,-0.198030,-0.416945,0.897478,1.237849,-0.69548,-0.206364,0.974740,-0.713249,-0.512075
4,0.289984,-1.465992,-0.936965,-0.662770,2.078611,-0.416945,0.897478,0.582975,1.43311,-0.378618,0.974740,-0.713249,-0.512075

In [11]:
print('Class distribution:')
y.value_counts()

Class distribution:

1    165
0    138
Name: heart attack, dtype: int64

In [12]:
from sklearn.feature_selection import VarianceThreshold

selector = VarianceThreshold()
selector.fit_transform(X)

selector.variances_

array([0.99669967, 0.99669967, 0.99669967, 0.99669967, 0.99669967,
       0.99669967, 0.99669967, 0.99669967, 0.99669967, 0.99669967,
       0.99669967, 0.99669967, 0.99669967])

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.25, random_state=1)

print('Class distribution in training set:')
print(Y_train.value_counts())

print('\nClass distribution in test set:')
print(Y_test.value_counts())

Class distribution in training set:
1    124
0    103
Name: heart attack, dtype: int64

Class distribution in test set:
1    41
0    35
Name: heart attack, dtype: int64

In [8]:
#apply SelectKBest class to extract top 10 best features
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

bestfeatures = SelectKBest(score_func=chi2, k=10)
fit = bestfeatures.fit(X_train,Y_train)

dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Features','Score']  #naming the dataframe columns

ValueError: Input X must be non-negative.